################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlexProxy/.vs/FlexProxy/v15
/FlexProxy/FlexProxy/obj
/FlexProxy/FlexProxy/FlexProxy.csproj.user
/FlexProxy/FlexProxy/bin/Debug/netcoreapp2.1
/FlexProxy/.vs/config
/src/.vs
/src/FlexProxy/bin/Debug/netcoreapp2.1
/src/FlexProxy/obj
/src/FlexProxy.Core/bin/Debug/netstandard2.0
/src/FlexProxy.Core/obj
/src/FlexProxy.ExceptionHandlerMiddleware/bin/Debug/netstandard2.0
/src/FlexProxy/FlexProxy.csproj.user
/src/FlexProxy.ExceptionHandlerMiddleware/obj
/src/FlexProxy.Repository/bin/Debug/netstandard2.0
/src/FlexProxy.Repository/obj
/src/FlexProxy.RobotsMiddleware/bin/Debug/netstandard2.0
/src/FlexProxy.RobotsMiddleware/obj
/src/FlexProxy.WebProxyMiddleware/bin/Debug/netstandard2.0
/src/FlexProxy.WebProxyMiddleware/obj
/src/FlexProxy/bin/Debug/netcoreapp2.2
/src/FlexProxy.HealthCheckMiddleware/bin/Debug/netstandard2.0
/src/FlexProxy.HealthCheckMiddleware/obj
/src/FlexProxy.RequestTracerMiddleware/bin/Debug/netstandard2.0
/src/FlexProxy.RequestTracerMiddleware/obj
/src/FlexProxy.SessionHandlerMiddleware/bin/Debug/netstandard2.0
/src/FlexProxy.SessionHandlerMiddleware/obj
/src/FlexProxy.ContentModificationMiddleware/obj
/src/FlexProxy.ContentModificationMiddleware/bin/Debug/netstandard2.0
*.user
