################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlexProxy/.vs/FlexProxy/v15
/FlexProxy/FlexProxy/obj
/FlexProxy/FlexProxy/FlexProxy.csproj.user
